@font-face {
    font-family: 'droid';
    src: url('/public/fonts/droid-serif-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'droid';
    src: url('/public/fonts/droid-serif-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'open-sans';
    src: url('/public/fonts/open-sans-variable-font-width-weight.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  :root{
    --grey:rgb(98 116 126)
  }

  body{
    font-family: "open-sans";
  }
  

header {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px;
}

.header__header-links {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 20px;
    /* color: #62747e; */
}

.header__links>a {
    color: #62747e;
}

.header__links-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header__link {
    font-family: open-sans;
    color: rgb(98 116 126);
    font-weight: 600;
}

.header__hamburger {
    width: 35px;        
    height: 30px;      
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;  
    border: none;
    background-color: transparent;
  }

  .mobile-header-label
  {
    color: #6d7e87;
  }
  
  .header__hamburger-line{
    display: block;
    height: 4px;
    background-color:  #6d7e87;
    border-radius: 2px;
    transition: all 0.3s ease;
    color: #6d7e87;
  }
  .header__hamburger-line--hidden
  {
    display: none;
  }

  .header__hamburger-line--rotate45d
  {
    transform:  rotate(45deg) translate(11px, 6px);
  }

  .header__hamburger-line--rotatem45d
  {
    transform: rotate(-45deg) translate(11px, -6px) ;
  }

  .header__mobile-menu
  {
    display: none;
  }


@media only screen and (max-width: 320px) {

  .header__mobile-menu
  {
    font-size: 16px;
    
  }

  
    
}

@media only screen and (max-width: 600px) {

  .header{
    padding: 20px 20px;
  }

    .header__mobile-menu{
        display: flex;
        align-content: center;
        align-items: center;
        gap: 20px;
        color: var(--grey);
    }

    .header__links-container
    {
        display: none !important;
    }

    .header__links-container-mobile-active {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: absolute;
    background-color: white;
    width: 100%;
    padding: 20px 0px;
    top:100px;
    left: 0px;
}

.page-title__content-para
{
  -webkit-font-smoothing: antialiased;
  font-size: small;
  line-height: 1.7;
}
    
}



.mobile-menu-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 20px;
}

.header__links-container-mobile {
    display: none;
}